<div class="gameBoard">
  {{#each-in this.board as |rowIndex rowValue|}}
    {{#each-in rowValue as |columnIndex cell|}}
      <div class="gameBoardTile">
        {{#if cell}}
          {{cell}}
        {{else}}
          {{#if this.isMyTurn}}
            <button
              type="button"
              class="mdl-button mdl-js-button gameBoardTileButton"
              {{on "click" (fn this.handleMove rowIndex columnIndex)}}
            >
              {{cell}}
            </button>
          {{else}}
            {{cell}}
          {{/if}}
        {{/if}}
      </div>
    {{/each-in}}
  {{/each-in}}
</div>
